PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_SANDBOX_SECRET=
PLAID_DEVELOPMENT_SECRET=
PLAID_PRODUCTION_SECRET=
PLAID_ENV=production
PLAID_REDIRECT_URI=https://penny-pincher.vercel.app/oauth-return
PENNY_PINCHER_API_URL=https://penny-pincher.vercel.app
PENNY_PINCHER_ENCRYPTION_KEY=
PENNY_PINCHER_TOKEN_KEY_VERSION=v1
